<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div id="straight1">

    </div>

    <div id="straight2">
        
    </div>

    <div id="horizontal1">
        
    </div>

    <div id="horizontal2">
        
    </div>

    <h1 id="spot1">{{ spot1 }}</h1>
    <h1 id="spot2">{{ spot2 }}</h1>
    <h1 id="spot3">{{ spot3 }}</h1>
    <h1 id="spot4">{{ spot4 }}</h1>
    <h1 id="spot5">{{ spot5 }}</h1>
    <h1 id="spot6">{{ spot6 }}</h1>
    <h1 id="spot7">{{ spot7 }}</h1>
    <h1 id="spot8">{{ spot8 }}</h1>
    <h1 id="spot9">{{ spot9 }}</h1>

    <form action="/" method="POST">
        <h1 id="label">Select a spot</h1>
        <input type="text" id="selection" name="selection">
    </form>


    
</body>
</html>